// Viewports
$min-mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1349px;
$max-mobile-width: 767px;
$max-tablet-width: 1348px;
$br5: 3000px;

// Colors
$primary-color: #004496;
$secondary-color: #fcc944;
$dark-color: #2d303e;
$dark-color-second: #3f3f3f;
$white-color: #f3f3f3;
$grey-color: #a9a9a9;

//Paddings
